* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #0f172a;
  color: white;
  font-family: system-ui, sans-serif;
}

a {
  color: #38bdf8;
  text-decoration: none;
}
@media (max-width: 768px) {
  #hero {
    flex-direction: column;
    text-align: center;
    padding: 60px 20px;
  }

  #hero h1 {
    font-size: 34px;
  }

  #hero h2 {
    font-size: 20px;
  }

  #hero p {
    font-size: 16px;
  }

  #hero button {
    width: 100%;
  }
}
